SERVER_PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=hotelprices
POSTGRES_PORT=5432
JWT_SECRET=your_jwt_secret_key_here_should_be_long_and_secure_and_base64_encoded
JWT_EXPIRATION=86400
CORS_ALLOWED_ORIGIN=http://localhost:5173