spring.application.name=hotel-price-follower
spring.datasource.url=jdbc:postgresql://localhost:[port]/[database_name]
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=create-drop

# For debugging (N+1)
spring.jpa.show-sql=true