spring.application.name=hotel-price-follower
spring.datasource.url=jdbc:postgresql://localhost:[port]/[database_name]
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.jdbc.batch_size=40
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true

scrape.schedule.cron=0 0 12 * * ?
scrape.schedule.zone=Europe/Helsinki